// Imported fonts
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

body {
  // background-color: #353b48;
  font-family: 'Poppins', sans-serif;
}

// Mixins
// Debugger mixin
@mixin debugger($color) {
  @if $color == 1 {
    border: 1px solid #e74c3c; 
  }
  @else if $color == 2 {
    border: 1px solid #3498db;
  }
  @else if $color == 3 {
    border: 1px solid #7f8c8d;
  }
  @else if $color == 4 {
    border: 1px solid #2ecc71;
  }
  @else {
    border: 1px solid #f1c40f;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.column {
  position: relative;
}

.titleBlock {
  // @include debugger(1);
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.logosCarousel {
  // @include debugger(2);
  height: 210px;
}

.carousel {
  // @include debugger(3);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateY(-20px);
  transition: all 0.6s ease-in-out;
  visibility: hidden;
  width: 100%;
  text-align: center;
  
  &.active {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible
  }
  
  i {
    font-size: 90px;
    
    @media screen and (max-width: 768px) {
      font-size: 50px;
    }
  }
}