<div id="app">
    <div class="main-container">
      <div class="container logosCarousel">
        <div class="columns titleBlock is-marginless">
          <h1 class="title has-text-weight-bold">Our Previous Clients</h1>
        </div>
        <div class="columns logoBlock is-marginless is-mobile">
          <!-- Iterate column -->
          <template v-for="(logoList, colId) in logoLists">
            <div :key="colId" class="column">
              <!-- Iterate row -->
              <div v-for="(logo, rowId) in logoList[`column${colId + 1}`]" :key="rowId" :class="['carousel', `carousel${colId + 1}`, setActiveClass(colId, rowId)]">
                <i :class="logo.src"></i>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div
    </div>