#state-name {
    padding-top: 0px;
    font-size: 1.8em;
    text-transform: none;
}

#statements-and-actions {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#about {
    padding-bottom: 0px;
}

.mainDataRow .mainDataRow .row .col:last-child {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100vw;
}

.tab-content {
    overflow-y: scroll;
    overflow-x: hidden;
}

.long-btn {
    width: 280px;
}

.sourcedFromSenate {
    justify-content: center;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    padding-right: 30px;
}

.bill-number, .bill-summary {
    color: white;
}

.bill-summary {
    font-size: large;
}

.more-details {
    text-align: left !important;
}

.infographic-2-buttons {
    z-index: 9999;
    font-size: 6pt;
}

#senate-bill-link-1 {
    z-index: 9999;
    font-size: 6pt;
    padding-top: 1000px;
}

.about-us-description {
    font-size: 15pt;
    line-height: 26px;
    text-transform: none;
    color:  dimgray;
}

.supporting-second-infographic-header {
    margin-top: -15px;
}

#top-taps-small-heading {
    padding-left: 3%;
}

#footer {
    width: 101vw;
}

#first-senator-bill-summary-1,
#first-senator-bill-summary-2,
#first-senator-bill-summary-3,
#first-senator-bill-summary-4,
#first-senator-bill-summary-5,
#first-senator-bill-summary-6,
#first-senator-bill-summary-7,
#first-senator-bill-summary-8,
#first-senator-bill-summary-9,
#first-senator-bill-summary-10,
#second-senator-bill-summary-1,
#second-senator-bill-summary-2,
#second-senator-bill-summary-3,
#second-senator-bill-summary-4,
#second-senator-bill-summary-5,
#second-senator-bill-summary-6,
#second-senator-bill-summary-7,
#second-senator-bill-summary-8,
#second-senator-bill-summary-9,
#second-senator-bill-summary-10,
#first-senator-vote-date-1,
#first-senator-vote-date-2,
#first-senator-vote-date-3,
#first-senator-vote-date-4,
#first-senator-vote-date-5,
#first-senator-vote-date-6,
#first-senator-vote-date-7,
#first-senator-vote-date-8,
#first-senator-vote-date-9,
#first-senator-vote-date-10,
#second-senator-vote-date-1,
#second-senator-vote-date-2,
#second-senator-vote-date-3,
#second-senator-vote-date-4,
#second-senator-vote-date-5,
#second-senator-vote-date-6,
#second-senator-vote-date-7,
#second-senator-vote-date-8,
#second-senator-vote-date-9,
#second-senator-vote-date-10,
#first-senator-question-1,
#first-senator-question-2,
#first-senator-question-3,
#first-senator-question-4,
#first-senator-question-5,
#first-senator-question-6,
#first-senator-question-7,
#first-senator-question-8,
#first-senator-question-9,
#first-senator-question-10,
#second-senator-question-1,
#second-senator-question-2,
#second-senator-question-3,
#second-senator-question-4,
#second-senator-question-5,
#second-senator-question-6,
#second-senator-question-7,
#second-senator-question-8,
#second-senator-question-9,
#second-senator-question-10,
#first-senator-vote-type-and-requires-1,
#first-senator-vote-type-and-requires-2,
#first-senator-vote-type-and-requires-3,
#first-senator-vote-type-and-requires-4,
#first-senator-vote-type-and-requires-5,
#first-senator-vote-type-and-requires-6,
#first-senator-vote-type-and-requires-7,
#first-senator-vote-type-and-requires-8,
#first-senator-vote-type-and-requires-9,
#first-senator-vote-type-and-requires-10,
#second-senator-vote-type-and-requires-1,
#second-senator-vote-type-and-requires-2,
#second-senator-vote-type-and-requires-3,
#second-senator-vote-type-and-requires-4,
#second-senator-vote-type-and-requires-5,
#second-senator-vote-type-and-requires-6,
#second-senator-vote-type-and-requires-7,
#second-senator-vote-type-and-requires-8,
#second-senator-vote-type-and-requires-9,
#second-senator-vote-type-and-requires-10,
#first-senator-result-1,
#first-senator-result-2,
#first-senator-result-3,
#first-senator-result-4,
#first-senator-result-5,
#first-senator-result-6,
#first-senator-result-7,
#first-senator-result-8,
#first-senator-result-9,
#first-senator-result-10,
#second-senator-result-1,
#second-senator-result-2,
#second-senator-result-3,
#second-senator-result-4,
#second-senator-result-5,
#second-senator-result-6,
#second-senator-result-7,
#second-senator-result-8,
#second-senator-result-9,
#second-senator-result-10 {
    padding-left: 13%;
    padding-right: 13%;
    text-align: left
}


@media (max-width: 500px) {

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
    .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
    .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
    .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
    .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
    .col-xl-auto {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .tabs {
        margin-left: 0vw;
        margin-right: 0vw;
        }

    .row .col:last-child {
        margin-left: 0em;
    }

    body {
        width: 95%;
        overflow-x: hidden;
    }

    #testimonial {
        margin-left: -5%;
    }

    .lead {
        padding-right: 5%;
        padding-left: 5%;
    }

    .mobile-left-padding, .container-icon, .about-us-description {
        padding-left: 5.5%;
    }

    #second-infographic-senate-heading {
        font-size: 15pt;
        padding-left: 3%;
        padding-bottom: 1px;
    }

    #second-infographic-house-heading {
        font-size: 12pt;
        padding-left: 3%
    }

    .supporting-second-infographic-header {
        padding-left: 3%;
        margin-top: -15px;
    }

    #click-any-state-for-rep-votes, .official-description {
        padding-left: 10%;
        padding-right: 10%;
    }

    #first-senator-bill-summary-1,
    #first-senator-bill-summary-2,
    #first-senator-bill-summary-3,
    #first-senator-bill-summary-4,
    #first-senator-bill-summary-5,
    #first-senator-bill-summary-6,
    #first-senator-bill-summary-7,
    #first-senator-bill-summary-8,
    #first-senator-bill-summary-9,
    #first-senator-bill-summary-10,
    #second-senator-bill-summary-1,
    #second-senator-bill-summary-2,
    #second-senator-bill-summary-3,
    #second-senator-bill-summary-4,
    #second-senator-bill-summary-5,
    #second-senator-bill-summary-6,
    #second-senator-bill-summary-7,
    #second-senator-bill-summary-8,
    #second-senator-bill-summary-9,
    #second-senator-bill-summary-10,
    #first-senator-vote-date-1,
    #first-senator-vote-date-2,
    #first-senator-vote-date-3,
    #first-senator-vote-date-4,
    #first-senator-vote-date-5,
    #first-senator-vote-date-6,
    #first-senator-vote-date-7,
    #first-senator-vote-date-8,
    #first-senator-vote-date-9,
    #first-senator-vote-date-10,
    #second-senator-vote-date-1,
    #second-senator-vote-date-2,
    #second-senator-vote-date-3,
    #second-senator-vote-date-4,
    #second-senator-vote-date-5,
    #second-senator-vote-date-6,
    #second-senator-vote-date-7,
    #second-senator-vote-date-8,
    #second-senator-vote-date-9,
    #second-senator-vote-date-10,
    #first-senator-question-1,
    #first-senator-question-2,
    #first-senator-question-3,
    #first-senator-question-4,
    #first-senator-question-5,
    #first-senator-question-6,
    #first-senator-question-7,
    #first-senator-question-8,
    #first-senator-question-9,
    #first-senator-question-10,
    #second-senator-question-1,
    #second-senator-question-2,
    #second-senator-question-3,
    #second-senator-question-4,
    #second-senator-question-5,
    #second-senator-question-6,
    #second-senator-question-7,
    #second-senator-question-8,
    #second-senator-question-9,
    #second-senator-question-10,
    #first-senator-vote-type-and-requires-1,
    #first-senator-vote-type-and-requires-2,
    #first-senator-vote-type-and-requires-3,
    #first-senator-vote-type-and-requires-4,
    #first-senator-vote-type-and-requires-5,
    #first-senator-vote-type-and-requires-6,
    #first-senator-vote-type-and-requires-7,
    #first-senator-vote-type-and-requires-8,
    #first-senator-vote-type-and-requires-9,
    #first-senator-vote-type-and-requires-10,
    #second-senator-vote-type-and-requires-1,
    #second-senator-vote-type-and-requires-2,
    #second-senator-vote-type-and-requires-3,
    #second-senator-vote-type-and-requires-4,
    #second-senator-vote-type-and-requires-5,
    #second-senator-vote-type-and-requires-6,
    #second-senator-vote-type-and-requires-7,
    #second-senator-vote-type-and-requires-8,
    #second-senator-vote-type-and-requires-9,
    #second-senator-vote-type-and-requires-10,
    #first-senator-result-1,
    #first-senator-result-2,
    #first-senator-result-3,
    #first-senator-result-4,
    #first-senator-result-5,
    #first-senator-result-6,
    #first-senator-result-7,
    #first-senator-result-8,
    #first-senator-result-9,
    #first-senator-result-10,
    #second-senator-result-1,
    #second-senator-result-2,
    #second-senator-result-3,
    #second-senator-result-4,
    #second-senator-result-5,
    #second-senator-result-6,
    #second-senator-result-7,
    #second-senator-result-8,
    #second-senator-result-9,
    #second-senator-result-10,
    #first-senator-vote-1,
    #first-senator-vote-2,
    #first-senator-vote-3,
    #first-senator-vote-4,
    #first-senator-vote-5,
    #first-senator-vote-6,
    #first-senator-vote-7,
    #first-senator-vote-8,
    #first-senator-vote-9,
    #first-senator-vote-10,
    #second-senator-vote-1,
    #second-senator-vote-2,
    #second-senator-vote-3,
    #second-senator-vote-4,
    #second-senator-vote-5,
    #second-senator-vote-6,
    #second-senator-vote-7,
    #second-senator-vote-8,
    #second-senator-vote-9,
    #second-senator-vote-10 {
        padding-left: 13%;
        padding-right: 13%;
        text-align: left
    }

    #senate-bill-summary-1,
    #senate-bill-summary-2,
    #senate-bill-summary-3,
    #senate-bill-summary-4,
    #senate-bill-summary-5,
    #senate-bill-summary-6,
    #senate-bill-summary-7,
    #senate-bill-summary-8,
    #senate-bill-summary-9,
    #senate-bill-summary-10,
    #house-bill-summary-1,
    #house-bill-summary-2,
    #house-bill-summary-3,
    #house-bill-summary-4,
    #house-bill-summary-5,
    #house-bill-summary-6,
    #house-bill-summary-7,
    #house-bill-summary-8,
    #house-bill-summary-9,
    #house-bill-summary-10 {
        text-align: left
    }

    .walkthrough .walkthrough-body .media {
        height: 300px;
        margin: 2px auto;
        width: 260px;
    }
    .walkthrough2 .walkthrough-body2 .media2 {
        height: 300px;
        margin: 2px auto;
        width: 260px;
    }

    #top-taps-small-heading, .tab-label {
        padding-left: 6%;
    }

    #footer-logo-image {
        padding-left: 1em;
    }

    #footer {
        width: 100vw;
    }
}